#nav-invoice {
    button {
        color: #fff;
    }

    .active {
        color: #000;
    }

}

.tab-pane {
    display: none;
}

.tab-pane.active {
    display: block;
}

.bottom {
    .nav {
        .nav-link.active {
            color: #0070F3;
            border: none;
            border-top: solid 2px #0070F3;
            border-radius: 0px;
            padding: 5px 20px 5px 20px;

            i {
                padding: 12px;
                border-radius: 50%;
                background: rgba(0, 112, 244, 0.15);
            }
        }
    }
}

li {
    list-style: none;
}

.btn-group{

    input:checked + .btn{
        background-color: #41464b;

    }
}
.table-responsive{
    border-radius: 10px;
    td{
        align-items: center;
        flex-wrap: nowrap;
vertical-align: middle    }
}
#tbl-san-pham{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    row-gap: 20px;
    >div{
        width: 220px !important;
        >div{
            padding: 10px 0px;

        }
    }
    img{
        border-radius: 10px;
        border: 1px solid #c9c9c9;
        margin: 10px;
        width: 80px !important;
    }
}

.icon-btn {
    i {
        padding: 15px;
    }

    i:hover {
        padding: 15px;
        border-radius: 50%;
        background-color: rgba(0, 0, 0, 0.2)
    }
}

fieldset {
    border: 2px solid #ddd;
    border-radius: 4px;
    margin-bottom: 20px;
    padding: 0px 15px 15px 15px;

    legend {
        float: none;
        width: fit-content;
        font-size: 0.9em;
        color: #8587A4;
    }
}

.qrcode-container {
    position: relative;
    width: 300px;
    height: 410px;
    overflow: hidden;
    margin: 0 auto;
    border: 2px solid #ccc;

    .qrcode {
        position: absolute;
        top: 45%;
        left: 50%;
        transform: translate(-50%, -50%) scale(1.35);
        max-width: 100%;
        height: auto;
    }
}

#tbl-san-pham {
    .product {
        height: 130px;
    }

    .product:hover {
        border: 0.5px solid #0070F4;
        box-shadow: 0 0 0.5rem rgba(0,112,244, 0.5) !important;
        border-radius: 0.7rem;
        cursor: pointer;
    }

    .product.disable:hover {
        position: relative;
        opacity: 0.5;
        background: rgba(0, 112, 244, 0.15);

        ::after {
            content: "Dừng bán";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: rgba(0, 0, 0, 0.5);
            color: white;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 1.5em;
            font-weight: bold;
            text-transform: uppercase;
            z-index: 10;
            pointer-events: none;
        }
    }
    .product.out-of-stock:hover {
        position: relative;
        opacity: 0.5;
        background: rgba(0, 112, 244, 0.15);

        ::after {
            content: "Tạm hết";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: rgba(0, 0, 0, 0.5);
            color: white;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 1.5em;
            font-weight: bold;
            text-transform: uppercase;
            z-index: 10;
            pointer-events: none;
        }
    }
}
.bg-article {
    background: linear-gradient(to bottom,rgba(255 255 255/0),rgba(255 255 255/62.5),rgba(255 255 255/1));
    height: 55px;
    bottom: 0;
    width: 100%;
    position: absolute;
}

/*/////*/

.section-header {
    display: block;
    margin-top: 20px;
    position: relative;
    text-align: center;
}
.section-header h1 {
    color: #212121;
    display: inline-block;
    font-size: 36px;
    font-weight: 700;
    line-height: 36px;
    padding: 0 0 24px;
    position: relative;
    z-index: 2;
}
.section-header h1:after {
    position: absolute;
    display: block;
    width: auto;
    height: 3px;
    bottom: 0;
    left: 20%;
    right: 20%;
    border-radius: 1px;
    content: "";
    z-index: 1;
    background: #e6e9ec;
}
section {
    padding-bottom: 192px;
    overflow: hidden;
    position: relative;
}
a,
a:link,
a:visited {
    color: #212121;
    text-decoration: none;
}
.micro-slider {
    height: 480px;
    margin: 10px 0;
    position: relative;
    width: 100%;
}
.micro-slider.fullwidth {
    height: 480px;
    margin: 64px 0;
}
.micro-slider.fullwidth .slider-item {
    height: 480px;
    line-height: 480px;
    width: 100%
}
.slider-wrapper {
    overflow: hidden;
    position: relative;
    transform-style: preserve-3d;
    transform-origin: 0 50%;
}
.slider-item {
    background: #FFF;
    box-shadow: 0 1px 3px rgba(0,0,0,.06), 0 1px 2px rgba(0,0,0,.12);
    color: #FFF;
    display: none;
    font-size: 72px;
    height: 320px;
    line-height: 320px;
    left: 0;
    position: absolute;
    text-align: center;
    top: 0;
    width: 320px;
}
.slider-item:not(.active) {cursor: pointer;}
.indicators {
    bottom: -64px;
    left: 50%;
    list-style-type: none;
    margin: 0 0 0 -77px;
    padding: 0;
    position: absolute;
}
.indicators li {
    color: #fff;
    float: left;
    height: 16px;
    margin-right: 8px;
    text-align: center;
    width: 16px;
}
.indicators li:last-child {margin: 0;}
.indicators a {
    background: #FFF;
    border-radius: 8px;
    border: 1px solid #E6E9EC;
    color: #FFF;
    display: inline-block;
    height: 16px;
    width: 16px;
}
.indicators .active a {background: #E6E9EC;}
.s1 {background: #3f51b5;}
.s2 {background: #448aff;}
.s3 {background: #03a9f4;}
.s4 {background: #00bcd4;}
.s5 {background: #009688;}
.s6 {background: #4caf50;}