<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="/client/layout/layout-client.html"
>
<head>
    <!--    Custom link-->
    <th:block layout:fragment="head_link">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css"
              integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg=="
              crossorigin="anonymous" referrerpolicy="no-referrer"/>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
              integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
              crossorigin="anonymous">
    </th:block>

</head>

<!-- Custom styles for this page -->

<body layout:fragment="content">
<!--container-->
<div class="container-fluid d-flex justify-content-around">
    <div class="w-50 p-4  d-flex flex-column" style="height: 600px">
        <div class="w-100 card p-3 mb-4 shadow">
            <div class="w-100 font-weight-bold" style="color: brown">
                <span><i class="fa-solid fa-location-dot"></i></span>
                Địa nhận hàng
            </div>
            <div>
                <input type="hidden" id="customerid" th:value="${customerId}">
                <input type="hidden" id="idAddress" th:value="${diachi.id}">
                <input id="tenNguoiNhan" type="hidden" class="text-danger" th:value="${diachi.hoTenNguoiNhan}">
                <input id="soDienThoaiNN" type="hidden" class="text-warning" th:value="${diachi.soDienThoai}">
                <input id="defaultMD" type="hidden" class="text-warning" th:value="${diachi.isDefault}">
                <input id="tinh" type="hidden" class="text-danger" th:value="${diachi.provinceId}">
                <input id="huyen" type="hidden" class="text-warning" th:value="${diachi.districtId}">
                <input id="xa" type="hidden" class="text-primary" th:value="${diachi.wardCode}">
                <input id="totalQuantity" type="hidden" th:value="${totalQuantity}">
            </div>
            <div class="modal fade" id="tableModal" tabindex="-1" aria-labelledby="tableModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="tableModalLabel">Địa chỉ của khách hàng</h5>
                            <button type="button" class="btn btn-primary ms-auto" data-bs-toggle="modal"
                                    data-bs-target="#addAddressModal">
                                Thêm Mới
                            </button>
                        </div>
                        <div class="modal-body">
                            <div id="addressContainer"></div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-danger" data-bs-dismiss="modal">OKI</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal fade" id="addAddressModal" tabindex="-1" aria-labelledby="addAddressModalLabel"
                 aria-hidden="true">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="addAddressModalLabel">Thêm Địa Chỉ Mới</h5>
                        </div>
                        <div class="modal-body">
                            <div class="mb-3">
                                <label for="tenNguoiNhanCreate" class="form-label">Tên người nhận :</label>
                                <input type="text" id="tenNguoiNhanCreate" class="form-control"
                                       placeholder="Nhập tên người nhận...">
                            </div>
                            <div class="mb-3">
                                <label for="phoneNumberCreate" class="form-label">Số điện thoại:</label>
                                <input type="text" id="phoneNumberCreate" class="form-control"
                                       placeholder="Nhập số điện thoại...">
                            </div>
                            <div class="mb-3">
                                <label for="tinhCreate" class="form-label">Tỉnh/Thành phố:</label>
                                <select id="tinhCreate" class="form-select" required>
                                    <option value="">Chọn tỉnh/thành phố</option>
                                </select>
                            </div>

                            <div class="mb-3">
                                <label for="huyenCreate" class="form-label">Quận/Huyện:</label>
                                <select id="huyenCreate" class="form-select" required>
                                    <option value="">Chọn quận/huyện</option>
                                </select>
                            </div>

                            <div class="mb-3">
                                <label for="xaCreate" class="form-label">Phường/Xã:</label>
                                <select id="xaCreate" class="form-select" required>
                                    <option value="">Chọn phường/xã</option>
                                </select>
                            </div>

                            <div class="mb-3">
                                <label for="diaChiChiTietCreate" class="form-label">Địa chỉ chi tiết:</label>
                                <input type="text" id="diaChiChiTietCreate" class="form-control"
                                       placeholder="Nhập địa chỉ chi tiết">
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                            <button id="submit" type="button" class="btn btn-success" data-bs-dismiss="modal">Create
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="w-100 m-2">
                <h5>
                    <span id="addressID"></span>
                    <span class="font-weight-bold" id="viewTen"></span> -
                    <span class="font-weight-bold" id="viewSDT"></span> :
                    <span id="ward"></span> -
                    <span id="district"></span> -
                    <span id="province"></span>
                    <span id="Default" class="btn btn-sm font-weight-bold">
                        ...
                    </span>
                </h5>
                <button type="button" data-bs-toggle="modal" data-bs-target="#tableModal"
                        class="btn btn-sm btn-success">Thay đổi
                </button>
            </div>
        </div>
        <div class="w-100 card p-3 shadow">
            <table class="table">
                <thead class="table-dark">
                <th>Sản phẩm</th>
                <th>Đơn giá</th>
                <th>số lượng</th>
                <th>số tiền</th>
                </thead>
                <tbody>
                <tr th:each="cart :${carts}">
                    <td>
                        <span th:text="${cart.url}"></span>
                        <span th:text="${cart.name}"></span>
                        <span th:text="${cart.color}"></span>
                        <span th:text="${cart.size}"></span>
                    </td>
                    <td th:text="${#numbers.formatDecimal(cart.priceAfterDiscount, 0, 'COMMA', 0, 'POINT') + ' VNĐ'}"></td>
                    <td th:text="${cart.quantity}"></td>
                    <td th:text="${#numbers.formatDecimal(cart.totalPrice, 0, 'COMMA', 0, 'POINT') + ' VNĐ'}"></td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="w-100 card p-5 shadow mt-3">
            <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
                <input type="radio" class="btn-check" name="btnradio" id="btnradio1" value="COD" autocomplete="off" checked>
                <label class="btn btn-outline-warning" for="btnradio1">COD</label>
                <input type="radio" class="btn-check" name="btnradio" id="btnradio2" value="VNPAY" autocomplete="off">
                <label class="btn btn-outline-warning" for="btnradio2">VNPAY</label>
            </div>
           <input type="text" class="form-control" placeholder="Ghi chu cho shop" id="ghiChuText">
        </div>
    </div>
    <div class="w-25 p-4">
        <div class="w-100 mx-auto bg-light p-4 rounded shadow-sm">
            <h3 class="text-center text-success fw-bold mb-3">Đơn Hàng</h3>
            <div class="border bg-white text-dark p-3 rounded-3 shadow-sm mb-3">
                <h5 class="mb-2">Voucher:
                    <span th:if="${voucher != null and voucher.ma != null}" class="fw-bold text-primary"
                          th:text="${voucher.ma}"></span>
                </h5>

                <h5 class="mb-2">Giảm:
                    <span th:if="${voucher != null and voucher.giamToiDa != null and voucher.giamToiDa > 0}" id="giamGia"
                          class="fw-bold text-primary"
                          th:text="${#numbers.formatDecimal(voucher.giamToiDa, 0, 'COMMA', 0, 'POINT') + ' VNĐ'}"></span>
                </h5>
                <h5>Phí vận chuyển: <span id="phiship" class="fw-bold text-warning"></span></h5>
                <h5 class="mb-2">Tạm Tính: <span class="fw-bold text-primary"
                                                 th:text="${#numbers.formatDecimal(tongTienSauKhiApDungVoucher, 0, 'COMMA', 0, 'POINT') + ' VNĐ'}"></span>
                </h5>
            </div>

            <div class="border bg-white text-dark p-3 rounded-3 shadow-sm mb-3">
                <input type="hidden" id="tongTien" th:value="${tongTienSauKhiApDungVoucher}">
                <h4 class="mt-2">Tổng Tiền: <span id="totalPrice" class="fw-bold text-danger"></span></h4>
            </div>
            <form method="post" th:action="@{/cart/save-bill}" th:object="${bill}">
                <input type="hidden" id="billCustomerID" name="customerId" th:field="*{customerId}">
                <input type="hidden" id="billVoucherID" name="voucherId" th:field="*{voucherId}">
                <input type="hidden" id="billCartDetailID" name="cartDetailIds" th:field="*{cartDetailIds}">
                <input type="hidden" id="billTotalPrice" name="totalPrice" th:field="*{totalPrice}">
                <input type="hidden" id="billAddressID" name="addressId" th:field="*{addressId}">
                <input type="hidden" id="billShipping" name="shipping" th:field="*{shipping}">
                <input type="hidden" id="billPaymentMethod" name="paymentMethod" th:field="*{paymentMethod}">
                <input type="hidden" id="billNote" name="note" th:field="*{note}">
                <input type="hidden" id="billCoupon" name="note" th:field="*{coupon}">
                <button class="btn btn-success btn-lg w-100 fw-bold shadow-sm">Đặt Hàng</button>
            </form>
        </div>
    </div>
</div>
</body>

<th:block layout:fragment="bottom_link">
    <script src="/js/client/payment.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</th:block>
</html>