<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="/admin/layout-dashboard/layout.html"
>
<head>
    <!--    Custom link-->
    <th:block layout:fragment="head_link">
        <style>
            .text-red {
                color: red;
                font-weight: bold;
            }

            .text-black {
                color: black;
                font-weight: bold;
            }

            .text-yellow {
                color: yellow;
                font-weight: bold;
            }

        </style>
    </th:block>

</head>

<!-- Custom styles for this page -->

<body layout:fragment="content">


<div class="row">
    <div class="card shadow m-2 w-100 ">
        <div class="card-header py-3">
            <div class="row w-100">
                <h1 class="h3 text-gray-800 col-4">Quản lý Phiếu Giảm Giá</h1>
                <!-- Additional controls -->
                <div class="col-8 d-flex justify-content-sm-end align-items-center">
                    <a th:href="@{'/admin/phieu-giam-gia/form-add'}" id="btn-add"
                       class="btn btn-secondary btn-icon-split mr-2">
                                        <span class="icon text-white-50">
                                            <i class="fas fa-plus"></i>
                                        </span>
                        <span class="text">Thêm mới</span>
                    </a>
                </div>


                <!--form filter-->
                <div class="container-fluid w-100 mt-4">
                    <div class="container-fluid card p-4 w-100">
                        <form class="container-fluid row g-3 align-items-center w-100">
                            <div class="col-md-4">
                                <span for="name">Tìm kiếm theo Mã & Tên</span>
                                <input
                                        id="name"
                                        type="text"
                                        name="name"
                                        class="form-control"
                                        th:value="${name}"
                                        placeholder="Nhập Mã & Tên ">
                            </div>
                            <div class="col-md-4">
                                <span for="startTime">Ngày bắt đầu</span>
                                <input type="date" class="form-control" id="startTime" name="startTime"
                                       th:value="${#temporals.format(startTime, 'yyyy-MM-dd')}"/>
                            </div>

                            <div class="col-md-4">
                                <span for="endTime">Ngày kết thúc</span>
                                <input type="date" class="form-control" id="endTime" name="endTime"
                                       th:value="${#temporals.format(endTime, 'yyyy-MM-dd')}"/>
                            </div>
                            <div class="col-md-4 form-group d-flex flex-column justify-content-start align-items-start">
                                <label for="status" class="form-label font-weight-bold">Trạng Thái</label>
                                <select id="status" class="form-control" name="status">
                                    <option value="">Select</option>
                                    <option value="SAP_DIEN_RA" th:selected="${status == 'SAP_DIEN_RA'}">Sắp
                                        diễn
                                        ra
                                    </option>
                                    <option value="DANG_DIEN_RA" th:selected="${status == 'DANG_DIEN_RA'}">Đang
                                        diễn
                                        ra
                                    </option>
                                    <option value="DA_KET_THUC" th:selected="${status == 'DA_KET_THUC'}">Đã kết
                                        thúc
                                    </option>
                                </select>
                            </div>

                            <button class="btn btn-secondary col-md-2" id="ClearForm"
                                    style="margin-left:  15px ; margin-top: 15px">
                                <i class="fas fa-rotate-right"></i>
                                Clear
                            </button>
                            <button class="form-control btn-secondary">
                                Tìm Kiếm
                            </button>
                        </form>
                    </div>
                </div>

                <!--                ssasa-->
                <div class="card-body">
                    <div>
                        <table class="table table-bordered" id="dataTable">
                            <thead>
                            <tr>
                                <!--                                <th>STT</th>-->
                                <th>Mã</th>
                                <th>Tên</th>
                                <th>Ngày bắt đầu</th>
                                <th>Ngày kết thúc</th>
                                <th>Trạng thái</th>
                                <th>Hành Động</th>

                            </tr>
                            </thead>
                            <tr th:each="phieuGiamGia : ${pages}">
                                <td th:text="${phieuGiamGia.id}" hidden></td>
                                <td th:text="${phieuGiamGia.ma}"></td>
                                <td th:text="${phieuGiamGia.ten}"></td>
                                <td th:text="${#temporals.format(phieuGiamGia.ngayBatDau, 'dd/MM/yyyy')}"></td>
                                <td th:text="${#temporals.format(phieuGiamGia.ngayKetThuc, 'dd/MM/yyyy')}"></td>
                                <td th:text="${phieuGiamGia.trangThai == 'DANG_DIEN_RA' ? 'Đang diễn ra'
        : (phieuGiamGia.trangThai == 'DA_KET_THUC' ? 'Đã kết thúc'
        : (phieuGiamGia.trangThai == 'SAP_DIEN_RA' ? 'Sắp diễn ra' : ''))}"
                                    th:class="${phieuGiamGia.trangThai == 'DANG_DIEN_RA' ? 'text-red'
        : (phieuGiamGia.trangThai == 'DA_KET_THUC' ? 'text-black'
        : (phieuGiamGia.trangThai == 'SAP_DIEN_RA' ? 'text-yellow' : ''))}">
                                </td>

                                </td>

                                <td class="d-flex ">
                                    <a class="btn btn-info btn-sm"
                                       th:href="@{'/admin/phieu-giam-gia/form-detail/'+ ${phieuGiamGia.id}}"
                                       style="text-decoration: none; margin: 10px">
                                        <i class="fa-solid fa-eye"></i>
                                    </a>

                                    <a th:href="@{'/admin/phieu-giam-gia/form-update/'+${phieuGiamGia.id}}"
                                       class="btn btn-info btn-sm"
                                       style="text-decoration: none; margin: 10px">
                                        <i class="fa-solid fa-pen-to-square"></i>
                                    </a>
                                    <a class="btn btn-danger btn-sm"
                                       th:href="@{'/admin/phieu-giam-gia/change-status/'+ ${phieuGiamGia.id}}"
                                       style="text-decoration: none; margin: 10px">
                                        <!--                                        <i class="fa-solid fa-repeat"></i>-->
                                        <i class="fa-solid fa-power-off"></i>
                                    </a>

                                </td>

                            </tr>
                        </table>

                        <!-- Phân Trang -->
                        <nav class="d-flex justify-content-center mt-3" aria-label="Page navigation"
                             th:if="${totalPages > 1}">
                            <ul class="pagination">
                                <!-- Nút Previous -->
                                <li class="page-item" th:classappend="${currentPage == 0} ? 'disabled'">
                                    <a class="page-link"
                                       th:href="@{/admin/phieu-giam-gia/all(page=${currentPage - 1}, size=5,
                                                 name=${name}, startTime=${startTime},
                                                 endTime=${endTime}, status=${status})}">
                                        &laquo;
                                    </a>
                                </li>

                                <!-- Các số trang -->
                                <li class="page-item" th:each="i : ${#numbers.sequence(0, totalPages - 1)}"
                                    th:classappend="${i == currentPage} ? 'active'">
                                    <a class="page-link"
                                       th:href="@{/admin/phieu-giam-gia/all(page=${i}, size=5,
                                                 name=${name}, startTime=${startTime},
                                                 endTime=${endTime}, status=${status})}"
                                       th:text="${i + 1}">
                                    </a>
                                </li>

                                <!-- Nút Next -->
                                <li class="page-item" th:classappend="${currentPage == totalPages - 1} ? 'disabled'">
                                    <a class="page-link"
                                       th:href="@{/admin/phieu-giam-gia/all(page=${currentPage + 1}, size=5,
                                                 name=${name}, startTime=${startTime},
                                                 endTime=${endTime}, status=${status})}">
                                        &raquo;
                                    </a>
                                </li>
                            </ul>
                        </nav>
                        <!-- End Phân Trang -->

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
<th:block layout:fragment="bottom_link">
    <!-- Page level plugins -->
    <script src="/vendor/datatables/jquery.dataTables.min.js"></script>
    <script src="/vendor/datatables/dataTables.bootstrap4.min.js"></script>


    <!-- Page level custom scripts -->
    <script src="/js/admin/phieu-giam-gia/index.js"></script>
</th:block>
</html>